files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/00_setup_elasticsearch.sh":
    mode: "744"
    owner: root
    group: root
    content: |
      #!/bin/bash
      INSTALL=true
      ES_VER=5.1.1
      SCRIPT_ABS_FILE=$(readlink -f $0)
      CURRENT_MD5=$(md5sum "$SCRIPT_ABS_FILE" | cut -d ' ' -f 1)
      STORED_MD5=$(cat ~/.esconfigversion)

      if [ ! -f ~/.esconfigversion ]; then
        echo "~/.esconfigversion not found, building again."
        INSTALL=true
      fi

      if [ "$INSTALL" != true ] && [ "$CURRENT_MD5" != "$STORED_MD5" ]; then
        echo "Script is modified, building again."
        INSTALL=true
      fi

      if [ "$INSTALL" = true ]; then
        EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
        ES_URL=https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-$ES_VER.zip
        ES_HOME=/usr/local

        echo "Downloading elasticsearch"
        cd ~/

        echo "Removing old elasticsearch files"
        rm -rf $ES_HOME/elasticsearch-*

        echo "Change to ES_Home directory"
        cd $ES_HOME

        echo "Unzipping elasticsearch"
        wget $ES_URL
        unzip elasticsearch-*

        echo "Add elasticsearch log and data directories"
        mkdir -p /var/lib/elasticsearch
        mkdir -p /var/log/elasticsearch

        echo "Install elasticsearch plugins"
        $ES_HOME/elasticsearch-$ES_VER/bin/elasticsearch-plugin install discovery-ec2
        $ES_HOME/elasticsearch-$ES_VER/bin/elasticsearch-plugin install repository-s3

        unlink /opt/aws/bin/elasticsearch
        ln -s $ES_HOME/elasticsearch-$ES_VER/bin/elasticsearch /opt/aws/bin

        echo "Allow user to access log and data files"
        chown -R $EB_APP_USER:$EB_APP_USER /var/lib/elasticsearch
        chown -R $EB_APP_USER:$EB_APP_USER /var/log/elasticsearch

        echo "Increase vm.max_map_count"
        sysctl -w vm.max_map_count=262144

        echo "Set ulimit -l unlimited for mlockall"
        sudo su
        ulimit -l unlimited

        echo $CURRENT_MD5 > ~/.esconfigversion
        echo "Done!"
      else
        echo "Script is not updated since last install, not running again."
      fi

container_commands:
        01_run_setup_script:
            command: "/opt/elasticbeanstalk/hooks/appdeploy/pre/00_setup_elasticsearch.sh"
